{%extends "home/layout.html"%}   
{% block content %}
{% load static %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>Empresa de venta de alimentos y accesorios para mascotas.</h3>

      
  <p>Nuestra Visión es cumplir con la nutrición de mascotas, animales de crianza y 
    ganado y ser reconocidos como empresa local y nacional que cumple estándares de calidad y 
    compromiso social a la comunidad.
    </p>
  </div>
</div>
<div class="row">

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/1m.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
           
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/2m.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
           
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/3m.jpg' %}" class="d-block w-100" alt="...">
       
          <div class="carousel-caption d-none d-md-block">
   
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </button>
    </div>

</div>
<br>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
  <h3>Tips para el cuidado de tu mascota</h3>
</div>
</div>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
    
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos ratione, velit adipisci quis impedit possimus natus dolor non commodi voluptas veritatis obcaecati cumque tempora iure aliquam blanditiis in reiciendis consequatur?
  </p>
</div>
</div>


{% endblock content%}


